._6pp-basic-slider {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    /*  overflow: hidden;  remove this line*/
  
    /* New additions */
    height: 6px;
    background: #ccc;
  }
  
  /* Thumb: webkit - Orange */
  ._6pp-basic-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    border: none;
    transition: 0.2s ease-in-out;
  }
  
  /* Thumb: Firefox */
  ._6pp-basic-slider::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    border: none;
    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: 0.2s ease-in-out;
  }
  
  /* Hover, active & focus Thumb: Webkit */
  
  ._6pp-basic-slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
  ._6pp-basic-slider:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.2);
  }
  ._6pp-basic-slider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.2);
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  ._6pp-basic-slider::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
  ._6pp-basic-slider:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.2);
  }
  ._6pp-basic-slider:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.2);
  }
  
  /* ----Orange */
  
  /* Thumb: webkit - Orange */
  ._6pp-basic-slider.slider-theme-orange::-webkit-slider-thumb {
    background-color: #f50;
  }
  
  /* Thumb: Firefox - Orange*/
  ._6pp-basic-slider.slider-theme-orange::-moz-range-thumb {
    background-color: #f50;
  }
  
  ._6pp-basic-slider.slider-theme-orange::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
  }
  ._6pp-basic-slider.slider-theme-orange:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
  }
  ._6pp-basic-slider.slider-theme-orange:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  ._6pp-basic-slider.slider-theme-orange::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
  }
  ._6pp-basic-slider.slider-theme-orange:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
  }
  ._6pp-basic-slider.slider-theme-orange:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
  }
  
  /* ----Black */
  
  /* Thumb: webkit - Black */
  ._6pp-basic-slider.slider-theme-black::-webkit-slider-thumb {
    background-color: #333;
  }
  
  /* Thumb: Firefox - Black*/
  ._6pp-basic-slider.slider-theme-black::-moz-range-thumb {
    background-color: #333;
  }
  
  /* Hover, active & focus Thumb: Webkit */
  
  ._6pp-basic-slider.slider-theme-black::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(51, 51, 51, 0.1);
  }
  ._6pp-basic-slider.slider-theme-black:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(51, 51, 51, 0.2);
  }
  ._6pp-basic-slider.slider-theme-black:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(51, 51, 51, 0.2);
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  ._6pp-basic-slider.slider-theme-black::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(51, 51, 51, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-black:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(51, 51, 51, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-black:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(51, 51, 51, 0.2);
  }
  
  /* ----Crimson */
  
  /* Thumb: webkit - Crimson */
  ._6pp-basic-slider.slider-theme-crimson::-webkit-slider-thumb {
    background-color: #dc143c;
  }
  
  /* Thumb: Firefox - Crimson*/
  
  ._6pp-basic-slider.slider-theme-crimson::-moz-range-thumb {
    background-color: #dc143c;
  }
  
  /* Hover, active & focus Thumb: Webkit */
  
  ._6pp-basic-slider.slider-theme-crimson::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(220, 20, 60, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-crimson:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(220, 20, 60, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-crimson:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(220, 20, 60, 0.2);
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  ._6pp-basic-slider.slider-theme-crimson::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(220, 20, 60, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-crimson:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(220, 20, 60, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-crimson:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(220, 20, 60, 0.2);
  }
  
  /* ----Green */
  
  /* Thumb: webkit - Green */
  ._6pp-basic-slider.slider-theme-green::-webkit-slider-thumb {
    background-color: #008000;
  }
  
  /* Thumb: Firefox - Green*/
  
  ._6pp-basic-slider.slider-theme-green::-moz-range-thumb {
    background-color: #008000;
  }
  
  /* Hover, active & focus Thumb: Webkit */
  
  ._6pp-basic-slider.slider-theme-green::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(0, 128, 0, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-green:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(0, 128, 0, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-green:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(0, 128, 0, 0.2);
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  ._6pp-basic-slider.slider-theme-green::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(0, 128, 0, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-green:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(0, 128, 0, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-green:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(0, 128, 0, 0.2);
  }
  
  /* ----Blue */
  
  /* Thumb: webkit - Blue */
  
  ._6pp-basic-slider.slider-theme-blue::-webkit-slider-thumb {
    background-color: #0000ff;
  }
  
  /* Thumb: Firefox - Blue*/
  
  ._6pp-basic-slider.slider-theme-blue::-moz-range-thumb {
    background-color: #0000ff;
  }
  
  /* Hover, active & focus Thumb: Webkit */
  
  ._6pp-basic-slider.slider-theme-blue::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(0, 0, 255, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-blue:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(0, 0, 255, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-blue:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(0, 0, 255, 0.2);
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  ._6pp-basic-slider.slider-theme-blue::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(0, 0, 255, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-blue:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(0, 0, 255, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-blue:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(0, 0, 255, 0.2);
  }
  
  /* ----Purple */
  
  /* Thumb: webkit - Purple */
  
  ._6pp-basic-slider.slider-theme-purple::-webkit-slider-thumb {
    background-color: #800080;
  }
  
  /* Thumb: Firefox - Purple*/
  
  ._6pp-basic-slider.slider-theme-purple::-moz-range-thumb {
    background-color: #800080;
  }
  
  /* Hover, active & focus Thumb: Webkit */
  
  ._6pp-basic-slider.slider-theme-purple::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(128, 0, 128, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-purple:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(128, 0, 128, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-purple:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(128, 0, 128, 0.2);
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  ._6pp-basic-slider.slider-theme-purple::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(128, 0, 128, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-purple:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(128, 0, 128, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-purple:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(128, 0, 128, 0.2);
  }
  
  /* ----Yellow */
  
  /* Thumb: webkit - Yellow */
  
  ._6pp-basic-slider.slider-theme-yellow::-webkit-slider-thumb {
    background-color: #ffff00;
  }
  
  /* Thumb: Firefox - Yellow*/
  
  ._6pp-basic-slider.slider-theme-yellow::-moz-range-thumb {
    background-color: #ffff00;
  }
  
  /* Hover, active & focus Thumb: Webkit */
  
  ._6pp-basic-slider.slider-theme-yellow::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 0, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-yellow:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 255, 0, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-yellow:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 255, 0, 0.2);
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  ._6pp-basic-slider.slider-theme-yellow::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 0, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-yellow:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 255, 0, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-yellow:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 255, 0, 0.2);
  }
  
  /* ----Pink */
  
  /* Thumb: webkit - Pink */
  
  ._6pp-basic-slider.slider-theme-pink::-webkit-slider-thumb {
    background-color: #ffc0cb;
  }
  
  /* Thumb: Firefox - Pink*/
  
  ._6pp-basic-slider.slider-theme-pink::-moz-range-thumb {
    background-color: #ffc0cb;
  }
  
  /* Hover, active & focus Thumb: Webkit */
  
  ._6pp-basic-slider.slider-theme-pink::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 192, 203, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-pink:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 192, 203, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-pink:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 192, 203, 0.2);
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  ._6pp-basic-slider.slider-theme-pink::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 192, 203, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-pink:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 192, 203, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-pink:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 192, 203, 0.2);
  }
  
  /* --- Red */
  
  /* Thumb: webkit - Red */
  
  ._6pp-basic-slider.slider-theme-red::-webkit-slider-thumb {
    background-color: #ff0000;
  }
  
  /* Thumb: Firefox - Red*/
  
  ._6pp-basic-slider.slider-theme-red::-moz-range-thumb {
    background-color: #ff0000;
  }
  
  /* Hover, active & focus Thumb: Webkit */
  
  ._6pp-basic-slider.slider-theme-red::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-red:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 0, 0, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-red:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 0, 0, 0.2);
  }
  
  /* Hover, active & focus Thumb: Firfox */
  
  ._6pp-basic-slider.slider-theme-red::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.1);
  }
  
  ._6pp-basic-slider.slider-theme-red:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 0, 0, 0.2);
  }
  
  ._6pp-basic-slider.slider-theme-red:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 0, 0, 0.2);
  }
  